<form>
    <div class="form-group">
        <label for="tipo-licitacao">Tipo de licitação:</label>
        <select class="form-control" id="tipo-licitacao">
            @{
                IFacadeGeneric facadeTipoLicitacao = new FacadeTipoLicitacao();

                foreach(TipoLicitacao tipo in facadeTipoLicitacao.SelecionarTodos()) {
                    <option value="@tipo.Id">@tipo.Tipo</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="objeto-licitacao">Objeto da licitação:</label>
        <input type="text" class="form-control" id="objeto-licitacao" placeholder="Objeto">
    </div>
    <div class="form-group">
        <label for="numero-licitacao">Numero edital:</label>
        <input type="text" class="form-control" id="numero-licitacao" placeholder="Numero">
    </div>
    <div class="form-group">
        <label for="tipo-disputa-licitacao">Tipo de disputa:</label>
        <select class="form-control" id="tipo-disputa-licitacao">
            <option>Menor preço por item</option>
            <option>Menor preço por lote</option>
            <option>Menor preço global</option>
        </select>
    </div>
    <div class="form-group">
        <label for="data-licitacao">Data da licitação:</label>
        <input type="date" class="form-control" id="data-licitacao">
    </div>
    <div class="form-group">
        <label for="preço-estimado-licitacao">Preço estimado:</label>
        <input type="number" class="form-control" id="preço-estimado-licitacao">
    </div>
    <div class="form-group">
        <label for="estado-licitacao">Estado:</label>
        <select class="form-control" id="tipo-disputa-licitacao">
            <option>São Paulo</option>
            <option>Rio de Janeiro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="estado-licitacao">Cidade:</label>
        <select class="form-control" id="tipo-disputa-licitacao">
            <option>Mogi das Cruzes</option>
            <option>Rio de Janeiro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="orgao-licitacao">Orgão:</label>
        <input type="text" class="form-control" id="orgao-licitacao">
    </div>
    <div class="form-group">
        <label for="portal-licitacao">Portal:</label>
        <input type="text" class="form-control" id="portal-licitacao">
    </div>
</form>