@model UsuarioVinculadoEmpresaViewModel

@{
    ViewData["Title"] = "Vincular Usuarios";
}

<p class="fw-bold fs-5 text-dark">Selecione os usuários que deseja vincular à empresa:</p>

<form asp-controller="Empresa" asp-action="SalvarVinculacao" method="post">
    <input type="hidden" asp-for="@Model.Empresa.Id" />

    @foreach (var usuario in Model.Usuarios) {
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input me-2" style="transform: scale(1.4); " name="UsuariosSelecionadosIds" value="@usuario.Id" @(Model.UsuariosSelecionadosIds.Contains(usuario.Id) ? "checked" : "") />

            <label class="form-check-label fs-5">@usuario.Nome.ToUpper()</label>
        </div>
    }

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
