@{
    ViewData["Title"] = "Gráfico de Licitações";
}

<form asp-controller="Grafico" asp-action="Grafico" method="get">
    <div class="row align-items-end">

        <div class="col-md-3">
            <label for="razao-social-filtro">Data inicial:</label>
            <input type="date" class="form-control" id="razao-social-filtro" name="dataInicio">
        </div>

        <div class="col-md-3">
            <label for="razao-social-filtro">Data final:</label>
            <input type="date" class="form-control" id="razao-social-filtro" name="dataFim">
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>

    </div>

    
</form>

<p class="titulo-grafico">Gráfico de Ganho em Licitações</p>

<canvas id="graficoMeses" width="800" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="valor-ganho">
    <p>
        Valor Total Ganho: R$ @ViewBag.ValorTotal.ToString("N2", new System.Globalization.CultureInfo("pt-BR"))
    </p>
</div>

<script>
    var ctx = document.getElementById('graficoMeses').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Meses)),
             datasets: [{
                label: 'Total Ganho por Mês',
                data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ValoresPorMes)),
                backgroundColor: 'transparent',       
                borderColor: 'rgba(75, 192, 75, 1)',  
                borderWidth: 2,
                fill: false,                           
                tension: 0.2                       
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Valor (R$)'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Meses'
                    }
                }
            }
        }
    });
</script>
